Package: Nginx-PHP7-Melanie2-Roundcube
Version: 1.1
Section: base
Priority: optional
Architecture: all
Depends: bash, nginx,  php-fpm,  php-memcached, memcached, php , php-pgsql, php-ldap, php-mbstring,  php-xml, postgresql-9.6, postgresql-client-9.6, postgresql-contrib-9.6, php-pgsql, php-soap
Maintainer: Mr Cyril Poissonnier
Description: Installation de Roundcube préconfiguré pour Melanie2
