Package: Nginx-PHP7-Melanie2-Roundcube
Version: 1.1
Section: base
Priority: optional
Architecture: all
Depends: bash, nginx,  php-fpm,  php-memcached, memcached, php , php-pgsql, php-ldap, php-mbstring,  php-xml, postgresql, postgresql-client, postgresql-contrib, php-pgsql, php-soap
Maintainer: Mr Cyril Poissonnier
Description: Installation de Roundcube préconfiguré pour Melanie2
