Package: Sabredav-Melanie2
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: bash, nginx,  php-fpm,  php-memcached, memcached, php, php-dom , php-ldap
Maintainer: Mr Cyril Poissonnier
Description: Installation de Sabredav préconfiguré pour Melanie2 (depuis les sources docker) 
