Package: Z-push-install-web-Melanie
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: bash, nginx,  php-fpm,  php-memcached, memcached, php, postgresql-client, php-dom, php-pgsql, php-ldap, php-imap, php-mbstring
Maintainer: Mr Cyril Poissonnier
Description: Installation de Zpush préconfiguré pour Melanie2 partie web
